/* Base */

* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --white: #fff;
    --black: #000;
    --red: #ff0000;
    --blue: #072B7D;
    --light-gry:#f6f7f9;
    --dark-blue: #072B7D;
    --gry:  #dbdbdb;
    --dark-gry: #f2f2f2;
    --green: #009632;
    --font-primary: 'Canela Deck';
    --font-secondry:'Poppins', sans-serif;
    --font-Material: 'Material Symbols Outlined';
    /* font-stretch font-variant font-size font-family */
    /* --font-h1: ultra-condensed small-caps 5.61rem "Fira Sans", sans-serif; */
    --font-h1:600 5.61rem/6rem 'Canela Deck', sans-serif;
    --font-h2:600 4.209rem/4.8rem 'Canela Deck', sans-serif;
    --font-h3:500 3.157rem/3.8rem 'Canela Deck', sans-serif;
    --font-h4:400 2.369rem/2.6rem 'Canela Deck', sans-serif;
    --font-h5:400 1.777rem/2rem 'Canela Deck', sans-serif;
    --font-h6:500 1.333rem/2.4rem 'Poppins', sans-serif;
    --font-p:400 1rem/1.8rem 'Poppins', sans-serif;
    --font-small:400 0.75rem/1.4rem 'Poppins', sans-serif;
    --font-vsmall:400 0.5rem/1.2rem 'Poppins', sans-serif;
  }
  html {
    scroll-behavior: smooth;
    font-size: 90%;
  }
  body {
    font: var(--font-p);
    color: var(--black);
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
  }
  a {
    text-decoration: none;
  }
  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
  }
  h1 {font: var(--font-h1); margin: 0;}
  h2 {font: var(--font-h2); margin: 0;}
  h3 {font: var(--font-h3); margin: 0;}
  h4 {font: var(--font-h4); margin: 0;}
  h5 {font: var(--font-h5); margin: 0;}
  h6 {font: var(--font-h6); margin: 0;}
  p {font:var(--font-p); margin: 0;;}
  .btn-blue{    
    line-height: normal;
    letter-spacing: .025rem;
    margin: 10px 0 0 0;
    font-size: 14px;
    border-radius: 5px;
    padding: 12px 24px;
    position: relative;
    background-color: var(--blue);
    color: #fff;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    transition: all .25s ease;
    /* font-family: var(--font-primary); */
    text-transform: uppercase;
    font-weight: 500;
  }
  ul,ol {
    margin: 0 0 0 15px;
    padding: 0;
  }
  li {
    margin:2px 0;
    padding: 0;
  }
  img {
    filter: contrast(1.2); height: auto;
  }
  .container {
    max-width: 1366px;
  }
  .container_fluid {
   max-width: 100%;
  }
  .mt_15 {
    margin-top: 15px !important;
  }
  .mb_15 {
    margin-bottom: 15px !important;
  }
  .mb_30 {
    margin-bottom: 30px !important;
  }
  .mt_60 {
    margin-top: 60px !important;
  }
  .mt_30 {
    margin-top: 30px !important;
  }
  .btn-blue:hover{  
    background: var(--dark-blue);
    color: var(--white);
  }
  .small {
    font:var(--font-small);
  }
  
  .btn-red{    
    background: var(--red);
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    border-radius: 6px;
    padding: 8px 20px;
  }
  
  .btn-red:hover{  
    background:#cc0000;
    color: var(--white);
  }
  
  .btn-white-brd{background: linear-gradient(123deg, #1a3875 50%, rgba(0,0,0,0) 50%);
    background-position: right bottom;
    background-size: 230% 100%;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;     padding: 10px 30px;}
    .btn-white-brd:focus,
    .btn-white-brd:hover {
      background-position: left bottom;
      border: 2px solid #fff;
      color: #fff;
  }


  .btn-blue-brd{background: linear-gradient(123deg, #1a3875 50%, rgba(0,0,0,0) 50%);
    background-position: right bottom;
    background-size: 230% 100%;
    border: 2px solid var(--dark-blue);
    border-radius: 50px;
    color: var(--dark-blue);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;     padding: 10px 30px;}
    .btn-blue-brd:focus,
    .btn-blue-brd:hover {
      background-position: left bottom;
      border: 2px solid var(--dark-blue);
      color: var(--white);
  }

  .blue_bg {
    background: var(--dark-blue);
  }
  
  .head {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
  }
  .head .line{
    flex: 1;
  }
  .head .more_arrow-filled{
    display: flex;
    padding: 4px 14px;
    border-radius: 100px;
    border: 1px solid var(--red);
    color: var(--white);
    justify-content: center;
    align-items: center;
    background: var(--red);
    cursor: pointer;
  }
  .head .more_arrow-filled:hover{
    color: var(--red);
    background: var(--white);
  }
  .head .more_arrow{
    display: flex;
    padding: 4px 14px;
    border-radius: 100px;
    border: 1px solid var(--red);
    color: var(--red);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .head .more_arrow:hover{
    color: var(--white);
    background: var(--red);
  }
  .bg_blue {
    background: var(--blue);
    color: var(--white);
  }
  .bg_red {
    background: var(--red);
    color: var(--white);
  }
  .bg_green {
    background: var(--green);
    color: var(--white);
  }
  .bg_grey {
    background: var(--light-gry);
  }
  .bg_green a, .bg_red a, .bg_blue a {
    color: var(--white);
  }
  
  .text_para {
    display: flex;
    gap: 32px;
  }
  .text_para_section {
    flex: 1;
    text-align: justify;
  }
  table {
    width:100%;
    border: 1px solid var(--dark-gry);
   }
   table th, table td {
    padding: 8px;
   }
   table tr:nth-child(even){
     background: var(--light-gry);
   }
   table tr:nth-child(odd){
    background: var(--white);
  }
  
  /* Header */
  
  header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 24px;
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease;
    top:0;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
  }
  .logo_section, .logo_section:hover, .logo_section:focus  {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 8px;
  
    color: var(--white);
  }
  .logo_section .menu_icon {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .logo_section img{
    height: 80px;     width: auto;
  }
  .logo_section .logo_text h5{
    font-family: var(--font-primary);
  }
  .menu_section {
    display: flex;
  }
  .menu_icon {
    background: var(--dark-blue);
    padding: 16px;
    cursor: pointer;
  }
  .clat_btn, .clat_btn:hover {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  
    background: var(--green);
    padding: 16px;
    font:var(--font-p);
    line-height: 1.2rem;
    color: var(--white);
    width: 70px;
    cursor:default;
  }
  header.fixedheader {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: var(--white);
    box-shadow: 0 1px 25px rgba(0,0,0, .1);
    transition: all 0.3s ease;
    z-index: 9;
  }
  header.fixedheader.nofix {
      top: -133px;
  }
  header.fixedheader .logo_text{
    color: var(--black);
  }
  
  
  /*Nav*/
  nav,
  .navbar {
    display: block;
    align-items: center;
    align-content: flex-start;
    background: var(--blue);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: var(--white);
    z-index: 999;
    padding: 24px;
    overflow-y: scroll;
  }
  nav .logo_text{
    color: var(--white) !important;
    text-align: left;
  }
  nav .close_btn {
    width: 100%;
    text-align: right;
    color: var(--white);
    padding: 0 24px;
    margin-bottom: 100px;
    display: flex;
  justify-content: space-between;
  }
  nav .links_list{
    display: block;
  }
  nav .main_nav li{
    color: #bbb;
  }
  nav .main_nav li:first-child{
    color: #fff;
  }
  nav li{
    list-style: none;
    padding: 12px;
    display: flex;
    cursor: pointer;
  }


  nav .nav_sub {
    width: 620px;
  }
  nav .nav_sub ul{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  nav .nav_sub ul:first-child {
    display: flex;
  
  }
  nav .nav_sub ul{
   /* display: none; */
   margin-left: 48px;
  }

  .menu .menu-link,
  .menu .menu-link a {
    font: var(--font-h3);
    color: #aaa;
    padding: 5px 0;
    display: flex;    position: relative;
}
.menu .menu-link a.show.nav-link,
  .menu .menu-link:hover,
  .menu .menu-link:focus{color: #fff;}


  .menu .dropdown-menu a{
    color: #aaa;
    padding:5px 0;
    display: flex;
    font:var(--font-h6)
  }

  .menu .dropdown-menu a:hover,
  .menu .dropdown-menu a:focus{
    color: #fff;     background: transparent;
  }

  .menu .dropdown-menu {
    top: 0px;
    left: 40%;
    padding: 0px 0;
    margin: 0px 0 0;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    width: max-content;
}
.menu .dropdown-menu .dropdown-menu {
  top: 0px;
  left: 100%;
  padding: 0 0 0 30%;
  width: 430px;
}
.dropup, .dropdown {
  position: unset;
}

.main_nav{position: relative;}

  nav .menu_close {
    font-size: 48px;
    background: none;
    border: 0;
    color: var(--white);
  }
  nav .menu_close span{
    font-size: 48px;
    color: var(--white);
  }
  .dropdown-submenu{position: relative;}
.dropdown-submenu>.dropdown-menu {
    top: 0px;
    left: 80%;
    padding: 0px 0;
    margin: 0px 0 0;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    top: 0px;
    left:100%;
    padding: 0px 0;
    margin: 0px 0 0;
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}


  
  .btn-symbols-arrow{    vertical-align: -7px; }
  
  /* Hero */
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: calc(100vh - 100px);
    color: var(--white);
    background: rgba(0,0,0,0.4);
    overflow: hidden !important;
    position: relative;
  }
  .hero .hero_text{
    text-align: center;
    margin-top: -5%;
    max-width: 800px;
    z-index: 1;
  }
  .inner-banner .container{  
    position: relative;
    height: 100%;
  }
  
  .hero.inner-banner .hero_text{
    text-align: center;
    margin-top:0;
    max-width: 100%;
    z-index: 1;
    padding-top:15%;
  }

  .hero.inner-banner .hero_text h4 {
    font: var(--font-h3);
  }
   .inner-banner .hero_text1{
    margin-top: -5%;
    max-width:100%;
    z-index: 1;
    position: absolute;
    bottom: 30px;
    text-align: left;
    left: 0;
    background: var(--blue);
    padding: 10px;
  }

  .hero video{
    position: absolute;
    top:0;
    z-index: -2;
    filter:contrast(1.2);
    height: auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .notification {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
  }
  .notification .block {
    flex: 1 0 0;
    padding: 36px;
    background: var(--gry);
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
  .notification .block:first-child {
    background: none;
  }
  .notification .block:nth-child(2) {
    background: var(--dark-gry);
  }
  .notification .block span, .owl-item span{
    vertical-align: -7px;
  }
  .notification .latestnews-owl-sec {
    width: 734px;
    padding: 36px;
    background: var(--dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
  gap: 8px;
  justify-self: stretch;
  align-self: stretch;
  }
  .owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    right: 0;
    top: 40px;
    font-size: 30px;
  }
  .owl-theme .owl-nav button span{
    padding: 40px 20px;
    border-radius: 100px;
  }
  
  
  
  
  
  
  
  /* About */
  .about {
    display: flex;
    padding: 120px 0px;
    gap: 48px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .about .img_block {
    display: flex;
    gap: 12px;
  }
  .about .text_block {
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex: 1;
  }
  .about .abt1-img {
    width: 50%;
    filter:contrast(1.2); height: auto;
  }
  
  
  /* Explore */
  .explore {
    display: flex;
    flex-direction: column;
    padding: 60px 0px 140px;
    gap: 48px;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: var(--white);
  }
  .explore .text_block {
    flex: 0.5;
  }
  .explore .icon_block {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex: 1;
  }
  .explore .icon_block img{
    filter: brightness(0) invert(1);
    height: 48px;
    width: 48px;
  }
  .explore article {
    width: 374px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(255,255,255,0.2);
  }

  .explore article a{ position: absolute; top:0; left: 0; width: 100%; height: 100%; }
  
  /* Shine */
  .hovershine {
      position: relative;
  }
  .hovershine::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
      -webkit-transform: skewX(-25deg);
      transform: skewX(-25deg);
  }
  .hovershine:hover::before {
      -webkit-animation: shine .75s;
      animation: shine .75s;
  }
  @-webkit-keyframes shine {
      100% {
          left: 125%;
      }
  }
  @keyframes shine {
      100% {
          left: 125%;
      }
  }
  
  
  
  
  
  
  
  /* Numbers */
  .numbers {
    display: flex;
    padding: 36px 24px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.2);
    margin-top: -56px;
    background: var(--white);
  }
  .numbers article {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    text-align: center;
  }
  .numbers article.border {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }
  .numbers article img{
    height: 60px;
    filter:contrast(1.2);
  }
  .numbers .text_block {
    padding: 0px 24px;
    /* line-height: 24px; */
    display: flex;
    text-align: left;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .numbers .text_block h6{
    line-height: 1.4rem;
  font-size: 1.1rem;
  }
  
  
  
  
  
  /* University Message */
  .un_messge {
    display: flex;
    padding: 60px 0px;
    gap: 12px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  .un_messge .text_block {
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex: 1;
  }
  .un_messge .img_block {
    display: flex;
    gap: 12px;
    position: relative;
    height: 300px;
  }
  .un_messge .img_block .image {
    margin: 12px;
    width: 220px;
    display: flex;
    gap: 20px;
  }
  .un_messge .img_block .image img{
    position: absolute;
    gap: 12px;
    height: 284px;
    z-index: -1;
  }
  .userinfo {
    width: 205px;
    background: #fff;
    position: absolute;
    bottom: 16px;
    margin: auto;
    margin-left: 12px;
    padding: 8px;
  }
  .userinfo a{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
  .un_messge .img_block .image p+p {
    font:var(--font-small)
  }
  
  
  .userinfo:hover p b{ color: var(--blue); }
  
  
  
  
  /*Academic Programs*/
  .ac_progs {
    padding:60px 0px;
    padding: 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .courses {
    display: flex;
    gap: 24px;
    padding: 20px 0px;
  }
  .course {
    padding: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid var(--gry);
  }
  
  
  
  
  
  
  
  /* Announcements */
  .announcements {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 60px 0px;
  }
  .announcements .cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  .timelineWork {
    display: flex;
    flex-direction: column;
    width: 378px;
    border:1px solid var(--gry);
    padding: 16px;
    gap: 16px;
    position: relative;
  }
  .timelineWork .date span{
    vertical-align: -7px;
  }

  .timelineWork:hover .noti{ color: var(--blue);}
  
  .timelineWork .date span{
    vertical-align: -7px;
  }
  .timelineWork  .link-block {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
  }
  
  
  
  /*Gallery*/
  
  .gallery {
    display: flex;
    margin: 0;
    padding: 0;
    height: 700px;
  }
  .gallery .block {
    padding: 36px;
    flex-direction: column;
    gap: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
  }
  .gallery .image {
    flex: 1;
    height: 300px;
    background-repeat: no-repeat; 
    background-size: cover;
  }
  .column_1 {
    display: flex;
    padding: 48px;
    align-items: flex-end;
    align-content: flex-start;
    width: 100%;
    background-repeat: no-repeat; 
    background-size: cover;
  }
  .column_1 .block{
    width: 200px;
  }
  .column_2, .column_3 {
    display: flex;
    flex-direction: column;
  }
  .block span {
    vertical-align: -7px;
  }
  
  
  
  
  
  
  /* Events */
  .events {
    padding: 60px 0px;
  }
  .events a{
    color: var(--black);
  }
  .events_section {
    display: flex;
    gap: 24px;
  }
  .events .events_section img{ height: auto; }
  .events .events_section .large_events {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
  }
  .events .events_section .small_events {
    display: flex;
    gap: 8px;
    flex-direction: column;
  }
  .events .events_section .small_events img{
    width: 150px;
  }
  .events .events_section .small_eve {
    display: flex;
    gap: 16px;
    border: 0;
    border-top: 1px solid #eeeeee;
    padding: 15px 0 0px 0;
  }
  .events .events_section .small_eve:first-child {
    border-top:0px solid #eeeeee;
  }
 
  .events .events_section .small_eve .title{line-height: 22px;}
  .events .events_section .large_events:hover .title a,
  .events .events_section .small_eve:hover .title a{ color: var(--blue); }
  
  
  
  /*Know More*/
  .know_more_blocks {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 60px 0;
    justify-content: space-between;
  }
  .know_more_blocks .text_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    flex:1;
  }
  .know_more .more_blocks {
    display: flex;
    gap: 24px;
  }
  .know_more .more_block {
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    padding: 48px;
    justify-items: center;
    align-items: center;
    border-radius: 12px;
    gap: 24px;
    flex: 1;
  }
  .more_block>div {
    flex: 1;
    display: flex;
    gap: 24px;
  }
  .know_more .more_block .btn-white-brd {
    text-align: center;
  }
  .know_more .more_block img{
    height: 60px;
    width: 60px;
    filter: brightness(100);
  }
  
  
  
  
  
  /*Partners*/
  
  .partners {
    display: flex;
    padding: 60px 0px;
    justify-content: space-between;
    gap: 0px;
  }
  .partner_logos {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    gap: 24px;
    flex: 1;
  }
  
  .partner_logos aside{ width:20%; }
  .partner_logos aside img{ width:100%; height: auto;}
  
  
  /*Footer*/
  footer {
    border-top:1px solid #eee;
    background: var(--light-gry);
  }
  footer .container {
    padding: 24px 0px 24px;
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  footer a{
    color: var(--black);
    flex-direction: column;
    text-decoration: ce;
    text-align: center;
    gap: 24px;
  }
  footer .logo_text {
    color: var(--black);
  }
  footer .important_links {
    display: flex;
  }
  footer .important_links div {
    flex: 1;
  }
  footer .secondary_links {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    font:var(--font-small)
  }
  footer .copyright, footer .flyingstars {
    font:var(--font-small);
    text-align: center;
  }
  
  footer ul{margin: 0;padding: 0;}
  footer li { list-style: none;}

  .video-blk{ position: relative; }
  .video-blk img{width: 100%; border-radius:4px;}
  .video-blk .playicon {
    position: absolute;
    width:60px;
    height:60px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
    opacity: 0.8;
}
.video-blk .playicon:hover {
  opacity:1;
}
/********************************************************** FACULITIES ************************************/
.faculties {
  display: flex;
  flex-wrap: wrap;
  padding: 48px 0px;
  flex-basis: 47%;
}
.faculty {
  width: 268px;
  display: flex;
  flex-direction: column;
  gap:12px;
  margin: 12px;
}

.faculty img{height: auto;}

.facultydetails{padding: 60px 0px;}
.facultydetails .vertical-tabs{display: flex;}
.facultydetails .tab-content{padding: 0px 30px;}
  /********************************************************** social media ************************************/
  .socialmedia-sec {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 15px;
  }
  
  .socialmedia {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    .socialmedia {
      flex-flow: column;
    }
  }
  .socialmedia .socialTitle {
    margin: 0 15px 0 0;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .socialmedia .socialTitle {
      margin-bottom: 15px;
      text-align: center;
    }
  }
  .socialmedia .socialList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-flow: row wrap;
  }
  .socialmedia .socialList li {
    margin: 5px;
  }
  .socialmedia .socialList li:first-child {
    padding-left: 0;
  }
  .socialmedia .socialList li a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      text-decoration: none;
      background-color: #999;
      color: #fff;
      transition: 0.35s;
  }
  .socialmedia .socialList li a img {
    transform-origin: top left;
    transform: scale(1);
    transition: 0.35s;
    width:100%;
    border-radius:8px;
    
  }
  .socialmedia .socialList li a:hover img {
    transform: scale(1.1) translate(-10%, -10%);
  }
  


  .cards {
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    margin-top: 24px;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid var(--dark-gry);
    background: var(--white);
    padding: 24px;
    border-radius: 8px;
    width: 31.9%;
  }
  .card.card3,
  .card.programee-card {
    width: 30.9%;
  }

  .card.card4 {
    width: 23%;
}
.card.gcard {
  width:23.4%;
  padding:4px;
  gap:10px;
}
  .card.jcard {
    width:20%;
    padding:4px;
    gap:10px;
  }

  .card.jcard img{ width:100%; height: auto; }
  .card.gcard img{ width:100%; height: 200px; }

  .card:hover {
    background: var(--light-gry);
    box-shadow: 0px 5px 10px var(--light-gry);
  }
  .card a.btn-blue-brd{padding: 2px 15px 0px 15px; margin-right: 10px;} 
  .card a.btn-blue-brd span.material-symbols-outlined{ font-size: 16px; position: relative; top: 4px;left: -5px;}
  

  .pdfs_as_list {
    display: flex;
  }
  .pdf_frame {
    display: none;
  }
  .pdf_frame:first-child {
    display: block;
  }
  .list_of_pdf_titles {
    padding-right: 32px;
  }
  .list_of_pdf_titles h5{
    margin-bottom: 24px;
  }
  .list_of_pdf_titles p{
    padding: 8px 0px;
    cursor: pointer;
  }
  .list_of_pdf_titles p.active{
    color: var(--blue);
    font-weight: 600;
  }
  .list_of_pdfs {
    flex:1;
  }
  .list_of_pdfs iframe{
    width: 100%;
  }
  

  .mapsec{ position: relative; height: 350px; }
.gm-style .gm-style-iw-d{ min-height: 140px; }
.mapsec .map-address-content h3{ margin: 0 0 10px 0; }
.mapsec .map-address-content p {
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 20px;
}
.form-fotter-sec{ background: var(--gry); padding:4% 0; position: relative; }
.form-fotter-sec:before {
  content: "";
  background-image: url(/images/logo.png);
  width: 300px;
  height: 300px;
  position: absolute;
  background-repeat: no-repeat;
  opacity: 0.11;
  background-position: center center;
  background-size: 70%;
  top: -20px;
  left: -60px;
}
 

.form-fotter-sec form .form-control,
.form-fotter-sec form .PhoneInputInput {
  height: 40px;
  border-radius: 0;
  box-shadow: none;
  border: none;
}

.form-fotter-sec form textarea.form-control {
  height: auto;
}

.form-fotter-sec form .PhoneInputCountry {
  background: #fff;
  padding: 0 8px 0 8px;
}

.form-fotter-sec form button{
  background: var(--dark-blue);
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  border-radius: 50px;
  padding: 6px 20px;
  border: 1px solid var(--dark-blue);
  box-shadow: none;

}
.form-fotter-sec form button:focus,
.form-fotter-sec form button:hover{
  background: var(--blue);
  color: var(--white);
  border: 1px solid var(--white);
}
.address-details-sec { padding: 2% 0; }
.address-details-sec .heading-sec { margin-bottom:5px;}
.address-details-sec .heading-sec h2{margin:20px 0 0px 0;}
.address-details-sec .in-block ul{ padding: 0 0 0 20px; }

  /********************************************************** Mobile ************************************/
  
  @media screen and (max-width: 960px) {
    html {
      font-size: 70%;
    }
    header .logo_text {
      display: none;
    }
    nav {
      overflow-y: scroll;
    }
    nav .close_btn {
      padding: 0;
    }
    nav .nav_sub {
      width: 100%;
    }
    nav .nav_sub ul, nav .nav_sub ul:first-child{
      display: none;
      margin-left: 0px;
    }
    .links_list {
      flex-direction: column;
    }
    nav .main_nav li {
      font: var(--font-h5);
    }
    .hero video {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    .hero .hero_text {
      margin-top: 30%;
    }
    .hero {
      height: 600px;
      width: 100%;
      overflow: auto;
    }
    .about, .explore, .explore .icon_block, .notification, .numbers, .un_messge, .un_messge .img_block, .gallery, .announcements, .events_section, .more_blocks, .partners, .important_links, .courses , .events {
      flex-direction: column;
      padding: 0px 2em;
    }
    .timelineWork, .notification .latestnews-owl-sec, .large_events img, .notification .block, .explore article, .icon_block {
      width: 100%;
    }
    .explore .icon_block {
      padding: 0;
    }
    .about .abt1-img {
      width:calc(50% - 12px);
    }
    .numbers {
      margin-top: 0px;
      padding: 60px 40px;
      flex-wrap: wrap;
      flex-direction: initial;
      box-shadow: none;
    }
    .numbers article {
      width: 50%;
      flex: auto;
      height: 120px;
      border: none !important;
    }
    .numbers article .text_block {
      flex-direction: column;
      gap: 12px;
      border: none;
      text-align: center;
    }
    .un_messge .img_block {
      height: auto;
    }
    .un_messge .img_block .image img {
      position: static;
    }
    .un_messge .img_block .image {
      flex-direction: column;
    }
    .userinfo {
      position: static;
    }
    .ac_progs{
      padding: 0px 2rem;
    }
    .courses {
      padding: 0;
    }
    .ac_progs div {
      width: 100%;
    }
    .gallery {
      display: flex;
      height: auto;
    }
    .gallery .image {
      flex: none;
    }
    .column_3 {
      flex-direction: column-reverse;
    }
    .know_more .more_block {
      flex-direction: column;
    }
    .know_more_blocks {
      text-align: center;
    }
    .events_section {
      padding: 0;
    }
    .partners {
      gap:36px;
      flex-direction: column;
    }
    .partner_logos {
      flex-direction: column;
      align-items: self-start;
    }
    
    .partner_logos aside{ width:100%;}
    
    .important_links {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }
    .secondary_links, .copyright {
      padding: 0px 2rem;
      font:var(--font-h5);
    }
  
  
  
  
    .faculties {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      margin: 0;
    }
    .faculty {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    .faculty img{
      width: 95%;
    }

    .menu .menu-link, .menu .menu-link a {
      display: block;
  }
    .menu .dropdown-menu {
      left: 0;
      width: 100%;
      position: relative;
  }

  .menu .dropdown-menu .dropdown-menu {
    top: 0px;
    left: 0;
    padding: 0 0 0 5%;
    width: 100%;
}

nav .menu_close {
  margin: 0 0 0 15px;
}

  }